<h1>Recent posts</h1>


<% @posts.each do |post| %>

<%= render :partial => post %>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  
<% end %>

<br />

<%= link_to 'New Post', new_post_path %>
